<li class="nav-item">
    <a class="dropdown-item">
        <span class="image"><img src="{{ asset('admin/production/images/img.jpg') }}" alt="Profile Image" /></span>
        <span>
                            <span>John Smith</span>
                            <span class="time">3 mins ago</span>
                          </span>
        <span class="message">
                            Film festivals used to be do-or-die moments for movie makers. They were where...
                          </span>
    </a>
</li>